@model FinanzApp.Models.RegistroTransaccione

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Registro de Transaccione</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoTransaccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoTransaccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaTransaccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaTransaccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontoTransaccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontoTransaccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoTdc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoTdc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comentario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoPagoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipoPagoNavigation.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioNavigation.Identificacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Volver a la Lista</a>
</div>
