@model IEnumerable<FinanzApp.Models.RegistroTransaccione>

@{
    ViewData["Title"] = "Index";
}
<p>

    <a asp-action="Create">Crear nuevo</a>
</p>
<form method="get"> <input type="text" id="Criterio" name="Criterio" /> <input type="submit" id="cmdBuscar" value="Buscar" /> </form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoTransaccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaTransaccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoTransaccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoTdc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comentario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTipoPagoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoTransaccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaTransaccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontoTransaccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoTdc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comentario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTipoPagoNavigation.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.Identificacion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
