@model IEnumerable<FinanzApp.Models.GestionEgreso>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdReglonEgresoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTipoEgresoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTipoPagoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdReglonEgresoNavigation.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTipoEgresoNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTipoPagoNavigation.Descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
